{% extends 'store_app/base.html' %} 
{% block content %}
{% load static %}
<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>Welcome To H-Shop</span>
                        </h2>
                        <p>H-Shop is a Professional Eaccessories and Gadgets Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Eaccessories and Gadgets, with a focus on dependability and Online E-Accessories and Gadgets Shopping store. We're working to turn our passion for Eaccessories and Gadgets into a booming online website. We hope you enjoy our Eaccessories and Gadgets as much as we enjoy offering them to you.

                            I will keep posting more important posts on my Website for all of you. Please give your support and love.</p>
                            <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
                                <span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
                            </div>
                    <div class="promo-video">
                        <img src="{% static 'assets/images/about/promo-video-img.webp' %}" alt="">
                        <a href="https://youtu.be/ZTh9cDjyf8U" class="venobox overlay-box" data-vbtype="video"><span
                            class="fa fa-play"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->

{% endblock %}